In [1]:
a=10
a

10

In [2]:
b=20
b

20

In [3]:
c=a+b
c

30

In [4]:
print("Numbers performed in addition are",a,b)

Numbers performed in addition are 10 20

In [5]:
print("The sum is",c)

The sum is 30

In [6]:
20 is b

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-6-5a250caff09e>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  20 is b

True

In [7]:
2+3

5

In [8]:
3-2

1

In [9]:
2*3

6

In [10]:
10/3

3.3333333333333335

In [11]:
10//3

3

In [12]:
10%3

1

In [13]:
3**2

9

In [14]:
5**4

625

In [15]:
d=95
t=30
s=d/t
s

3.1666666666666665

In [16]:
round(s,2)

3.17

In [17]:
6-5.7

0.2999999999999998

In [18]:
round(6-5.7,2)

0.3

In [19]:
a="Raja"
a

'Raja'

In [20]:
b="Kodumuru"
b

'Kodumuru'

In [21]:
c=b+a
c

'KodumuruRaja'

In [22]:
z=b+" "+a
z

'Kodumuru Raja'

In [23]:
z[0]

'K'

In [24]:
z[1]

'o'

In [25]:
z[:8]

'Kodumuru'

In [26]:
z[:7]

'Kodumur'

In [27]:
z[:-1]

'Kodumuru Raj'

In [28]:
z[-2]

'j'

In [29]:
z[-2:]

'ja'

In [30]:
z[:-2]

'Kodumuru Ra'

In [31]:
a="Raja"
a

'Raja'

In [32]:
s="Raja's"
s

"Raja's"

In [33]:
q="Raja\'s"
q

"Raja's"

In [34]:
d="My favourite number is"
e=1
f=d+" "+str(e)
f

'My favourite number is 1'

In [35]:
l=["Raja","Nivi","Rishi","Dharani"]
l

['Raja', 'Nivi', 'Rishi', 'Dharani']

In [36]:
l[0]

'Raja'

In [37]:
l[1]

'Nivi'

In [38]:
l[0:3]

['Raja', 'Nivi', 'Rishi']

In [39]:
l[-1]

'Dharani'

In [40]:
l[-2:]

['Rishi', 'Dharani']

In [41]:
l[:-1]

['Raja', 'Nivi', 'Rishi']

In [42]:
l[3]="Radhika"
l

['Raja', 'Nivi', 'Rishi', 'Radhika']

In [43]:
l.append("Dharani")
l

['Raja', 'Nivi', 'Rishi', 'Radhika', 'Dharani']

In [44]:
l.insert(3,"Bhavana")
l

['Raja', 'Nivi', 'Rishi', 'Bhavana', 'Radhika', 'Dharani']

In [45]:
l1=["Raja"]
l2=["Nivi"]
l3=l1+l2
l3

['Raja', 'Nivi']

In [46]:
l3

['Raja', 'Nivi']

In [47]:
len(l3)

2

In [48]:
"Raja" in l3

True

In [49]:
base=10
height=10
area=0.5*base*height
area

50.0

In [50]:
a=int(input("Please enter the number"))
if a%2==0:
    print(a,"is a Even Number")
else:
    print(a,"is a Odd Number")

Please enter the number8
8 is a Even Number

In [51]:
indian=["samosa","daal","naan"]
chineese=["egg role","pot sticker","noodles","fried rice"]
italian=["pizza","pasta","risotto"]
dish=input("Enter the dish name")
if dish in indian:
    print("It is an Indian Dish")
elif dish in chineese:
    print("It is an Chineese Dish")
elif dish in italian:
    print("It is an Italian Dish")
else:
    print("I don't know")

Enter the dish namesamosa
It is an Indian Dish

In [52]:
exp=[100,200,300,400,500,600,700,800,900,1000]
total=[]
sum=0
for i in exp:
    sum+=i
total.append(sum)
total

[5500]

In [53]:
len(total)

1

In [54]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [55]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [56]:
exp=[100,200,300,400,500,600,700,800,900,1000]
Total=0
for x in exp:
    Total+=x
Total
    
for i,n in enumerate(exp):
    print("Month Number",i+1,"Monthly Expense",n,"and Total expense is",Total)

Month Number 1 Monthly Expense 100 and Total expense is 5500
Month Number 2 Monthly Expense 200 and Total expense is 5500
Month Number 3 Monthly Expense 300 and Total expense is 5500
Month Number 4 Monthly Expense 400 and Total expense is 5500
Month Number 5 Monthly Expense 500 and Total expense is 5500
Month Number 6 Monthly Expense 600 and Total expense is 5500
Month Number 7 Monthly Expense 700 and Total expense is 5500
Month Number 8 Monthly Expense 800 and Total expense is 5500
Month Number 9 Monthly Expense 900 and Total expense is 5500
Month Number 10 Monthly Expense 1000 and Total expense is 5500

In [57]:
exp=[100,200,300,400,500,600,700,800,900,1000]
Total=0
for i,n in enumerate(exp):
    print("Month Number",i+1,"Monthly Expense",n)
    Total+=n
print("Total expense is",Total)

Month Number 1 Monthly Expense 100
Month Number 2 Monthly Expense 200
Month Number 3 Monthly Expense 300
Month Number 4 Monthly Expense 400
Month Number 5 Monthly Expense 500
Month Number 6 Monthly Expense 600
Month Number 7 Monthly Expense 700
Month Number 8 Monthly Expense 800
Month Number 9 Monthly Expense 900
Month Number 10 Monthly Expense 1000
Total expense is 5500

In [58]:
a=5
b=[1,2,3,4,5]
for i in b:
    if i==a:
        print("Found")
        break
    else:
        print("Not Found")

Not Found
Not Found
Not Found
Not Found
Found

In [59]:
a=[1,2,3,4,5]
for i in a:
    if i%2==0:
        continue
    else:
        print(i*i)

1
9
25

In [60]:
i=1
while i<=5:
    print(i*i)
    i+=1

1
4
9
16
25

In [61]:
i=1
while i<=5:
    print(i*i)
    i+=1

1
4
9
16
25

In [62]:
def calculate(exp):
    total=0
    for i in exp:
        total+=i
    return total
l1=[100,200,300]
l2=[400,500,600]
calculate(l1)

600

In [63]:
calculate(l2)

1500

In [64]:
def sum(a,b):
    c=a+b
    return c
sum(5,10)

15

In [65]:
a={"Raja":15,"Nivi":14,"Rishi":13}
a

{'Raja': 15, 'Nivi': 14, 'Rishi': 13}

In [66]:
a["Raja"]

15

In [67]:
a["Nivi"]

14

In [68]:
len(a)

3

In [69]:
a["Dharani"]=567
a

{'Raja': 15, 'Nivi': 14, 'Rishi': 13, 'Dharani': 567}

In [70]:
del a["Dharani"]
a

{'Raja': 15, 'Nivi': 14, 'Rishi': 13}

In [71]:
for key in a:
    print(key)

Raja
Nivi
Rishi

In [72]:
for value in a:
    print(a[value])

15
14
13

In [73]:
for key,value in a.items():
    print(key,"is",value)

Raja is 15
Nivi is 14
Rishi is 13

In [74]:
"Raja" in a

True

In [75]:
a.clear()
a

{}

In [76]:
a=(1,2,3)
a

(1, 2, 3)

In [77]:
a[0]

1

In [78]:
a[1]

2

In [79]:
a[0:3]

(1, 2, 3)

In [80]:
import math
math.sqrt(5)

2.23606797749979

In [81]:
math.pow(2,5)

32.0

In [82]:
math.pow(5,2)

25.0

In [83]:
math.log10(100)

2.0

In [84]:
math.floor(2.3)

2

In [85]:
math.ceil(2.3)

3

In [86]:
import calendar
calendar.month(2016,1)

'    January 2016\nMo Tu We Th Fr Sa Su\n             1  2  3\n 4  5  6  7  8  9 10\n11 12 13 14 15 16 17\n18 19 20 21 22 23 24\n25 26 27 28 29 30 31\n'

In [87]:
calendar.isleap(2012)

True

In [88]:
calendar.isleap(2015)

False

In [89]:
details={}
details['raja']={
    'name':'Raja',
    'roll_no':15
}
details['Nivi']={
    'name':'Niveditha',
    'roll_no':14
}
import json
json.dumps(details)

'{"raja": {"name": "Raja", "roll_no": 15}, "Nivi": {"name": "Niveditha", "roll_no": 14}}'

In [90]:
details={}
details['raja']={
    'name':'Raja',
    'roll_no':15
}
details['Nivi']={
    'name':'Niveditha',
    'roll_no':14
}
import json
s=json.dumps(details)
with open("C:/Users/raja asus/Desktop/json.txt","w") as f:
    f.write(s)

In [91]:
f=open("C:/Users/raja asus/Desktop/json.txt","r")
f.read()

'{"raja": {"name": "Raja", "roll_no": 15}, "Nivi": {"name": "Niveditha", "roll_no": 14}}'

In [92]:
f=open("C:/Users/raja asus/Desktop/json.txt","r")
s=f.read()
import json
json.loads(s)

{'raja': {'name': 'Raja', 'roll_no': 15},
 'Nivi': {'name': 'Niveditha', 'roll_no': 14}}

In [93]:
type(details)

dict

In [94]:
details['raja']

{'name': 'Raja', 'roll_no': 15}

In [95]:
details['raja']['name']

'Raja'

In [96]:
for i in details:
    print(details[i])

{'name': 'Raja', 'roll_no': 15}
{'name': 'Niveditha', 'roll_no': 14}

In [97]:
f=open("C:/Users/raja asus/Desktop/json.txt","w")
f.write("I am a Raja")
f.close()

In [98]:
f=open("C:/Users/raja asus/Desktop/json.txt","a")
f.write("\nI love AI&ML")
f.close()

In [99]:
f=open("C:/Users/raja asus/Desktop/json.txt","r")
f.read()

'I am a Raja\nI love AI&ML'

In [100]:
f=open("C:/Users/raja asus/Desktop/json.txt","r")
print(f.read())
f.close()

I am a Raja
I love AI&ML

In [101]:
f=open("C:/Users/raja asus/Desktop/json.txt","r")
for line in f:
    print(line)
f.close()

I am a Raja

I love AI&ML

In [102]:
f=open("C:/Users/raja asus/Desktop/json.txt","r")
for line in f:
    tokens=line.split(' ')
    print(str(tokens))
f.close()

['I', 'am', 'a', 'Raja\n']
['I', 'love', 'AI&ML']

In [103]:
f=open("C:/Users/raja asus/Desktop/json.txt","r")
for line in f:
    tokens=line.split(' ')
    print(len(tokens))
f.close()

4
3

In [104]:
with open("C:/Users/raja asus/Desktop/json.txt","r") as f:
    print(f.read())

I am a Raja
I love AI&ML

In [105]:
def area(a,b):
    return 0.5*a*b
if __name__=="__main__":
    z=area(10,20)
    print("Area is",z)

Area is 100.0

In [106]:
def area(a,b):
    print("__name__:",__name__)
    return 0.5*a*b
if __name__=="__main__":
    z=area(10,20)
    print("Area is",z)

__name__: __main__
Area is 100.0

In [107]:
try:
    a=5
    b=0
    c=a/b
except:
    print("Exception")

Exception

In [108]:
try:
    a=5
    b=0
    c=a/b
except:
    b=5
    c=a/b
    print(c)

1.0

In [109]:
try:
    a=10
    b=0
    c=a/b
except Exception as e:
    print("Exception Occured",e)
    z=None
print("Division is",z)

Exception Occured division by zero
Division is None

In [110]:
try:
    a=10
    b=0
    c=a/b
except ZeroDivisionError as e:
    print("Division by Zero Exception")
    z=None
print("Division is",z)

Division by Zero Exception
Division is None

In [111]:
try:
    a=10
    b=0
    c=a/b
except ZeroDivisionError as e:
    print("Division by Zero Exception")
except TypeError as e:
    print("Type error Exception")
    z=None
print("Division is",z)

Division by Zero Exception
Division is None

In [112]:
try:
    raise MemoryError('Memory Error')
except MemoryError as e:
    print(e)

Memory Error

In [113]:
try:
    raise Exception('Memory Error')
except Exception as e:
    print(e)

Memory Error

In [114]:
class Accident(Exception):
    def __init__(self,msg):
        self.msg=msg
    def handle(self):
        print("Accident Occurred")
try:
    raise Accident('Car')
except Accident as e:
    e.handle()

Accident Occurred

In [115]:
class Accident(Exception):
    def __init__(self,msg):
        self.msg=msg
    def handle(self):
        print("Accident Occurred")
try:
    raise Accident('Car')
except Accident as e:
    e.handle()
finally:
    print("I am Happy")

Accident Occurred
I am Happy

In [116]:
class Human:
    def __init__(self,name,occupation):
        self.name=name
        self.occupation=occupation
    def method1(self,):
        if self.occupation=="tennis_player":
            print(self.name,"plays tennis")
        elif self.occupation=="actor":
            print(self.name,"shoots a film")
    def speaks(self):
        print(self.name,"says how are you")
a=Human("Allu Arjun","actor")
a.method1()
a.speaks()

Allu Arjun shoots a film
Allu Arjun says how are you

In [117]:
b=Human("Sania Mirza","tennis_player")
b.method1()
b.speaks()

Sania Mirza plays tennis
Sania Mirza says how are you

In [118]:
class vehicle:
    def general_usage(self):
        print("generally used for Transportation")
class Car(vehicle):
    def __init__(self):
        print("This is Car")
        self.wheels=4
        self.has_roof=True
    def specific_use(self):
        print("Specifically used for work or family trips")
class Bike(vehicle):
    def __init__(self):
        print("This is Bike")
        self.wheels=2
        self.has_roof=False
    def specific_use(self):
        print("Generally used")
a=Car()
a.general_usage()
a.specific_use()

This is Car
generally used for Transportation
Specifically used for work or family trips

In [119]:
b=Bike()
b.general_usage()
b.specific_use()

This is Bike
generally used for Transportation
Generally used

In [120]:
class vehicle:
    def general_usage(self):
        print("generally used for Transportation")
class Car(vehicle):
    def __init__(self):
        print("This is Car")
        self.wheels=4
        self.has_roof=True
    def specific_use(self):
        self.general_usage()
        print("Specifically used for work or family trips")
class Bike(vehicle):
    def __init__(self):
        print("This is Bike")
        self.wheels=2
        self.has_roof=False
    def specific_use(self):
        self.general_usage()
        print("Generally used")
a=Car()
a.specific_use()

This is Car
generally used for Transportation
Specifically used for work or family trips

In [121]:
b=Bike()
b.specific_use()

This is Bike
generally used for Transportation
Generally used

In [122]:
class vehicle:
    def general_usage(self):
        print("generally used for Transportation")
class Car(vehicle):
    def __init__(self):
        print("This is Car")
        self.wheels=4
        self.has_roof=True
    def specific_use(self):
        self.general_usage()
        print("Specifically used for work or family trips")
class Bike(vehicle):
    def __init__(self):
        print("This is Bike")
        self.wheels=2
        self.has_roof=False
    def specific_use(self):
        self.general_usage()
        print("Generally used")
c=Car()
b=Bike()
print(isinstance(c,Car))

This is Car
This is Bike
True

In [123]:
print(isinstance(c,Bike))

False

In [124]:
print(isinstance(b,Bike))

True

In [125]:
print(issubclass(Car,Bike))

False

In [126]:
print(issubclass(Bike,Car))

False

In [127]:
print(issubclass(vehicle,Car))

False

In [128]:
print(issubclass(Car,vehicle))

True

In [129]:
print(issubclass(Bike,vehicle))

True

In [130]:
class Father():
    def gardening(self):
        print("I enjoy Gardening")
class Mother():
    def cooking(self):
        print("I love Cooking")
class Child(Father,Mother):
    def play(self):
        print("I love Playing")
a=Child()
a.gardening()
a.cooking()
a.play()

I enjoy Gardening
I love Cooking
I love Playing

In [131]:
class Father():
    def gardening(self):
        print("I enjoy Gardening")
class Mother():
    def cooking(self):
        print("I love Cooking")
class Child(Father,Mother):
    def play(self):
        b.gardening()
        b.cooking()
        print("I love Playing")
b=Child()
b.play()

I enjoy Gardening
I love Cooking
I love Playing

In [132]:
class Father():
    def gardening(self):
        print("I enjoy Gardening")
class Mother():
    def cooking(self):
        print("I love Cooking")
class Child(Father,Mother):
    def play(self):
        self.gardening()
        self.cooking()
        print("I love Playing")
b=Child()
b.play()

I enjoy Gardening
I love Cooking
I love Playing

In [133]:
class Father():
    def gardening(self):
        print("I enjoy Gardening")
class Mother():
    def cooking(self):
        print("I love Cooking")
class Child(Father,Mother):
    def play(self):
        Father.gardening(self)
        Mother.cooking(self)
        print("I love Playing")
b=Child()
b.play()

I enjoy Gardening
I love Cooking
I love Playing

In [134]:
class Father():
    def gardening(self):
        print("I enjoy Gardening")
class Mother():
    def cooking(self):
        print("I love Cooking")
class Child(Father,Mother):
    def play(self):
        print("I love Playing")
b=Child()
b.play()

I love Playing

In [135]:
r=["Raja","Nivi","Rishi","Dharani"]
for i in r:
    print(i)

Raja
Nivi
Rishi
Dharani

In [136]:
s=iter(r)
s

In [137]:
next(s)

'Raja'

In [138]:
next(s)

'Nivi'

In [139]:
next(s)

'Rishi'

In [140]:
next(s)

'Dharani'

In [141]:
c=reversed(r)
c

In [142]:
next(c)

'Dharani'

In [143]:
next(c)

'Rishi'

In [144]:
next(c)

'Nivi'

In [145]:
next(c)

'Raja'

In [146]:
class RemoteControl():
    def __init__(self):
        self.channels=["HBO","CNN","ABC","ESPN"]
        self.index=-1
    def __iter__(self):
        return self
    def __next__(self):
        self.index+=1
        if self.index==len(self.channels):
            raise StopIteration
        return self.channels[self.index]
r=RemoteControl()
itr=iter(r)
print(next(itr))

HBO

In [147]:
print(next(itr))

CNN

In [148]:
print(next(itr))

ABC

In [149]:
print(next(itr))

ESPN

In [150]:
def remote_control():
    yield "CNN"
    yield "ESPN"
itr=remote_control()
next(itr)

'CNN'

In [151]:
next(itr)

'ESPN'

In [152]:
def remote_control():
    yield "CNN"
    yield "ESPN"
for i in remote_control():
    print(i)

CNN
ESPN

In [153]:
def fib():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b
for i in fib():
    if i>20:
        break
    print(i)

0
1
1
2
3
5
8
13

In [155]:
a=[1,2,3,4,5]
even=[]
for i in a:
    if i%2==0:
        even.append(i)
even

[2, 4]

In [157]:
a=[1,2,3,4,5,6,7,8,9]
even=[i for i in a if i%2==0]
even

[2, 4, 6, 8]

In [159]:
square=[i*i for i in a]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [160]:
a=set([1,2,3,4,5,6,7,8,9])
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [163]:
even={ i for i in a if i%2==0}
even

{2, 4, 6, 8}

In [164]:
square={i*i for i in a}
square

{1, 4, 9, 16, 25, 36, 49, 64, 81}

In [168]:
q=["Raja","Neha"]
w=["Nivi","Rishi"]
z=zip(q,w)
z

In [169]:
for i in z:
    print(i)

('Raja', 'Nivi')
('Neha', 'Rishi')

In [171]:
d={me:you for me,you in zip(q,w)}
d

{'Raja': 'Nivi', 'Neha': 'Rishi'}

In [172]:
fruits={"orange","apple","mango","apple","orange"}
type(fruits)

set

In [173]:
fruits

{'apple', 'mango', 'orange'}

In [174]:
a=set()
a.add(1)
a.add(2)
a

{1, 2}

In [176]:
s=[1,2,3,3,2,4]
unique_numbers=set(s)
unique_numbers

{1, 2, 3, 4}

In [177]:
unique_numbers.add(5)
unique_numbers

{1, 2, 3, 4, 5}

In [179]:
fs=frozenset({4,5,6,7})
fs

frozenset({4, 5, 6, 7})

In [181]:
a={"r","a","j","a"}
a

{'a', 'j', 'r'}

In [183]:
'a' in a

True

In [184]:
'k' in a

False

In [186]:
a

{'a', 'j', 'r'}

In [187]:
for i in a:
    print(i)

r
a
j

In [189]:
x={'a','b','c'}
y={'a','e','f'}
x|y

{'a', 'b', 'c', 'e', 'f'}

In [190]:
x&y

{'a'}

In [191]:
x-y

{'b', 'c'}

In [192]:
y-x

{'e', 'f'}

In [193]:
x<y

False

In [194]:
x>y

False

In [197]:
x==y

True

In [202]:
import time
def time_it(func):
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args,**kwargs)
        end = time.time()
        print(func.__name__ +" took " + str((end-start)*1000) + "mil sec")
        return result
    return wrapper

@time_it
def calc_square(numbers):
    result = []
    for number in numbers:
        result.append(number*number)
    return result

@time_it
def calc_cube(numbers):
    result = []
    for number in numbers:
        result.append(number*number*number)
    return result

array = range(1,100000)
out_square = calc_square(array)
out_cube = calc_cube(array)

calc_square took 22.171735763549805mil sec
calc_cube took 31.241655349731445mil sec

In [207]:
import time
def square(numbers):
    print("Calculate Square of numbers")
    for i in numbers:
        time.sleep(0.2)
        print('square:',i*i)
def cube(numbers):
    print("Calculate Cube of numbers")
    for i in numbers:
        time.sleep(0.2)
        print('Cube:',i*i*i)
arr=[1,2,3,4,5,6,7]
t=time.time()
square(arr)
cube(arr)
print("done in :",time.time()-t)

Calculate Square of numbers
square: 1
square: 4
square: 9
square: 16
square: 25
square: 36
square: 49
Calculate Cube of numbers
Cube: 1
Cube: 8
Cube: 27
Cube: 64
Cube: 125
Cube: 216
Cube: 343
done in : 2.899003505706787

In [208]:
import time
import threading
def square(numbers):
    print("Calculate Square of numbers")
    for i in numbers:
        time.sleep(0.2)
        print('square:',i*i)
def cube(numbers):
    print("Calculate Cube of numbers")
    for i in numbers:
        time.sleep(0.2)
        print('Cube:',i*i*i)
arr=[1,2,3,4,5,6,7]
t=time.time()
t1=threading.Thread(target=square,args=(arr,))
t2=threading.Thread(target=cube,args=(arr,))
t1.start()
t2.start()
print("done in :",time.time()-t)

Calculate Square of numbersCalculate Cube of numbers
done in : 0.23783493041992188

square:Cube: 1
 1
Cube: 8
square: 4
Cube:square: 9
 27
square:Cube: 16
 64
square:Cube: 25
 125
Cube:square: 36
 216
square: 49
Cube: 343

In [209]:
import time
import threading
def square(numbers):
    print("Calculate Square of numbers")
    for i in numbers:
        time.sleep(0.2)
        print('square:',i*i)
def cube(numbers):
    print("Calculate Cube of numbers")
    for i in numbers:
        time.sleep(0.2)
        print('Cube:',i*i*i)
arr=[1,2,3,4,5,6,7]
t=time.time()
t1=threading.Thread(target=square,args=(arr,))
t2=threading.Thread(target=cube,args=(arr,))
t1.start()
t2.start()
t1.join()
t2.join()
print("done in :",time.time()-t)

Calculate Square of numbers
Calculate Cube of numbers
square: 1
Cube: 1
Cube: 8
square: 4
Cube:square: 9
 27
square: 16
Cube: 64
Cube:square: 25
 125
Cube: 216
square: 36
Cube:square: 49
 343
done in : 1.4534711837768555

In [210]:
import threading
def square(numbers):
    for i in numbers:
        print('square:',i*i)
def cube(numbers):
    for i in numbers:
        print('Cube:',i*i*i)
if __name__=='__main__':
    arr=[1,2,3,4,5,6,7]
    t1=threading.Thread(target=square,args=(arr,))
    t2=threading.Thread(target=cube,args=(arr,))
    t1.start()
    t2.start()
    t1.join()
    t2.join()

square: 1
square: 4
square: 9
square: 16
square: 25
square: 36
square: 49
Cube: 1
Cube: 8
Cube: 27
Cube: 64
Cube: 125
Cube: 216
Cube: 343

In [231]:
import multiprocessing
def square(numbers):
    for i in numbers:
        print('square:',i*i)
def cube(numbers):
    for i in numbers:
        print('Cube:',i*i*i)
if __name__=='__main__':
    arr=[1,2,3,4,5,6,7]
    t1=multiprocessing.Process(target=square,args=(arr,))
    t2=multiprocessing.Process(target=cube,args=(arr,))
    t1.start()
    t2.start()
    t1.join()
    t2.join()